:root {
  --main-dark: #373737;
}

.App {
  overflow: hidden;
  margin: 30px auto;
  width: 460px;
  min-height: 390px;
  border-radius: 30px;
  box-shadow: 4px -1px 56px 11px rgba(0,0,0,0.39);
}

.from-area {
  padding: 25px 20px;
  background: #2c2c2c;
}

.from-area__input-label {
  display: block;
  padding-bottom: 20px;
  font-size: 27px;
  line-height: 35px;
  font-weight: 400;
  text-transform: uppercase;
  color: lightgrey;
}

.btn-container {
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.btn {
  padding: 8px 10px;
  border: none;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  flex: 1 1 100%;
}

.btn--black {
  background: var(--main-dark);
  color: lightgrey;
}

.btn--white {
  background: #f4f4f4;
  color: var(--main-dark);
}

.btn--black.btn--active {
  background: white;
  color: var(--main-dark);
}

.btn--white.btn--active {
  background: var(--main-dark);
  color: white;
}

.btn:focus,
.btn:hover {
  outline: none;
  transform: scale(1.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.from-area_input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  font-size: 25px;
  line-height: 30px;
  background: var(--main-dark);
  border-radius: 8px;
  color: white;
  outline: lightgrey;
}

.to-area {
  padding: 25px 20px;
}

.result {
  word-break: break-all;
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid var(--main-dark);
  font-size: 27px;
  line-height: 35px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-dark);
}

.error {
  font-size: 12px;
  line-height: 15px;
  color: #c62626;
}
